.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
.image-container {
    position: relative;
    display: inline-block;
}
.fullscreen-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 10; /* Ensure the button is above the image */
}
.image-caption {
    text-align: center;
    margin-top: 5px;
    color: #333; /* Or any color you prefer */
    font-size: 0.9em; /* Adjust the size as needed */
}